.game {
    display: flex;
    flex-direction: column; /* Добавьте 'flex-direction: column;' */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

.board {
    line-height: 0;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.title__ {
    font-family: "Fascinate Inline", serif;
    font-size: 5vh;
    text-align: center;
    color: #03DAC6;
    padding: 20px;
}
